<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink routerLinkActive="selected">
    <a class="" appAccordionToggle [routerLink]="">
      <mat-icon>home </mat-icon>
      <span>Dispositivos</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
  <mat-list-item appAccordionLink>
    <a class="" appAccordionToggle [routerLink]="">
      <mat-icon>home </mat-icon>
      <span>Cronogramas</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
  <mat-list-item appAccordionLink>
    <a class="" appAccordionToggle [routerLink]="">
      <mat-icon> home </mat-icon>
      <span>Personas</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
  <mat-list-item appAccordionLink>
    <a class="" appAccordionToggle [routerLink]="">
      <mat-icon>home </mat-icon>
      <span>Configuracion</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
</mat-nav-list>
