<div class="login-register">
  <div class="login-register-box">
      <mat-card>
          <mat-card-content>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="text-center">
                      <img alt="homepage" src="assets/images/logo.png">
                      <h4 class="text-muted m-t-0">Ingrese con su cuenta</h4>
                  </div>

                  <div fxLayout="row wrap">
                      <!-- col full-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                          <mat-form-field>
                              <input matInput placeholder="Identificación" [formControl]="form.controls['identificacion']">
                          </mat-form-field>
                          <small *ngIf="form.controls['identificacion'].hasError('required') && form.controls['identificacion'].touched" class="text-danger support-text">Usuario requerido.</small>
                      </div>
                      <!-- col full-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                          <mat-form-field>
                              <input matInput type="password" placeholder="Contraseña" [formControl]="form.controls['clave']">
                          </mat-form-field>
                          <small *ngIf="form.controls['clave'].hasError('required') && form.controls['clave'].touched" class="text-danger support-text">Contraseña requerida.</small>
                      </div>
                      <!-- col half-->
                      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                          <mat-checkbox color="warn">Recordar datos</mat-checkbox>
                      </div>

                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                          <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Ingresar</button>
                      </div>
                      <!-- col full-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                          <span>
                              <a [routerLink]="['/authentication/register']" class="text-info link">¿Olvido su contraseña?</a>
                          </span>
                      </div>
                  </div>
              </form>
          </mat-card-content>
      </mat-card>
  </div>
</div>
