<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected"
      group="{{menuitem.url}}" (click)="scrollToTop()">

      <a appAccordionToggle href="javascript:;">
          <mat-icon>{{ menuitem.icono }}</mat-icon>
          <span>{{ menuitem.nombre}}</span>
          <span fxFlex></span>
          <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
      </a>

      <mat-nav-list class="sub-item">
          <mat-list-item *ngFor="let subMenu of menuitem.subMenu"
              routerLinkActive="selected">
              <a [routerLink]="construirUrlSubMenu(menuitem, subMenu)" *ngIf="subMenu.tipo === 'link'"
                  class="relative" routerLinkActive="selected">
                  {{ subMenu.nombre}}
              </a>
          </mat-list-item>
      </mat-nav-list>

  </mat-list-item>
</mat-nav-list>
