<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected"
      group="{{menuitem.state}}" (click)="scrollToTop()">

      <a class="" appAccordionToggle href="javascript:;">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name}}</span>
          <span fxFlex></span>
          <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
      </a>

      <mat-nav-list class="sub-item">
          <mat-list-item *ngFor="let subMenu of menuitem.subMenu"
              routerLinkActive="selected">
              <a [routerLink]="['/', menuitem.state, subMenu.state ]" *ngIf="subMenu.type === 'link'"
                  class="relative" routerLinkActive="selected">
                  {{ subMenu.name}}
              </a>
          </mat-list-item>
      </mat-nav-list>

  </mat-list-item>
</mat-nav-list>
