<mat-card>

    <mat-card-content>

        <mat-card-title>
            <h1 class="letra-500">Buscar detalle</h1>
        </mat-card-title>

        <mat-form-field appearance="outline">
            <mat-label>Seleccione la categoría</mat-label>
            <mat-select (selectionChange)="seleccionCategoriaCambio($event)">
                <mat-option *ngFor="let maestro of maestros" [value]="maestro.id">{{maestro.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div [hidden]="ocultarSeccionTabla">
            <h2>Lista de detalles</h2>

            <mat-form-field appearance="standard">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" #input />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="responsive-table">
                <table mat-table [dataSource]="fuenteDatos" matSort>

                    <ng-container matColumnDef="nombre">
                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row">
                          <span class="header-label"> Nombre :</span>{{row.valor}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="habilitado">
                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row">
                          <span class="header-label"> Estado :</span>{{row.habilitado ? 'Habilitado' : 'Inhabilitado'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="modificar">
                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Modificar </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row">
                          <span class="header-label">Modificar :</span>
                            <button mat-icon-button (click)="redireccionarAModificar(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row mat-header-row *matHeaderRowDef="columnasMostradas"></mat-header-row>
                    <mat-row  mat-row *matRowDef="let row; columns: columnasMostradas;"></mat-row>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No hay detalles en la categoría seleccionada</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>

    </mat-card-content>
</mat-card>
