<mat-card>

    <mat-card-content>

        <mat-card-title>
            <h1 class="letra-500">Buscar detalle</h1>
        </mat-card-title>

        <mat-form-field appearance="outline">
            <mat-label>Seleccione la categoría</mat-label>
            <mat-select (selectionChange)="seleccionCategoriaCambio($event)">
                <mat-option *ngFor="let maestro of maestros" [value]="maestro.id">{{maestro.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div [hidden]="ocultarSeccionTabla">
            <h2>Lista de detalles</h2>

            <mat-form-field appearance="standard">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" #input />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="responsive-table">
                <table mat-table [dataSource]="fuenteDatos" matSort>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.valor}} </td>
                    </ng-container>

                    <ng-container matColumnDef="habilitado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row">{{row.habilitado ? 'Habilitado' : 'Inhabilitado'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modificar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificar </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="redireccionarAModificar(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasMostradas;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No hay detalles en la categoría seleccionada</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>

    </mat-card-content>
</mat-card>